<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bethany's Pie Shop</title>
</head>
<body>
    <div>
        @RenderBody() <!-- this is where the content of the view will be rendered, so we can display the content of the view in the layout -->
    </div>
</body>
</html>